<% include header %>
<h2>this is the msg contain</h2>
<% if(locals.flash && locals.flash.error){ %>
    <div class="ui negative message">
        <%= flash.error %>
    </div>
<% } %>
<% if(locals.flash && locals.flash.success){ %>
    <div class="ui positive message">
        <%= flash.success %>
    </div>
<% } %>
<form action="/" method="POST" class="ui form">
    <div class="field">
        <label for="message">Message</label>
        <textarea name="message" id="message"></textarea>
    </div>
    <button type="submit" class="ui blue labeled submit icon button">
        <i class="icon edit"></i>Envoyer
    </button>
</form>

<div class="ui comments">

    <h3 class="ui dividing header">Countries</h3>

        <% for (i of countries) { %>
            <div class="comment">
                <div class="content">
                    <a href="/country/<%= i.id %>">
                        <%= i.name %>
                    </a>                    
                    <div class="metadata">
                        <div class="date">
                            <%= i.created_at.fromNow() %>
                        </div>
                    </div>
                </div>
            </div>
        <% } %>

</div>
<% include footer %>
